
h1 {
    font-size: 3.2em;
}

h2 {
    font-size: 2em;
}
 
/* Navigation menu settings starts under this line---------------------------------------------------------- */
#menu {
	background: rgba(0, 153, 204, 0.5);
	color: #FFF;
	height: 47px;
	padding-left: 18px;
    margin-bottom: 1em;
 }

#menu ul, #menu li {
	margin: 0 auto;
	padding: 0;
	list-style: none
}

#menu ul {
	width: 100%;
}

#menu li {
	float: left;
	display: inline;
	position: relative;
}

#menu a {
	display: block;
	line-height: 47px;
	padding: 0 14px;
	text-decoration: none;
	color: #FFFFFF;
	font-size: 16px;
}

#menu a.dropdown-arrow:after {
	content: "\25BE";
	margin-left: 5px;
}

#menu li a:hover {
	color: #0099CC;
	background: #F2F2F2;
}

#menu input {
	display: none;
	margin: 0;
	padding: 0;
	height: 47px;
	width: 100%;
	opacity: 0;
	cursor: pointer
}

#menu label {
	display: none;
	line-height: 47px;
	text-align: center;
	position: absolute;
	left: 35px
}

#menu label:before {
	font-size: 1.6em;
	content: "\2261"; 
	margin-left: 20px;
}

#menu ul.sub-menus{
	height: auto;
	overflow: hidden;
	width: 170px;
	background: #444444;
	position: absolute;
	z-index: 99;
	display: none;
}

#menu ul.sub-menus li {
	display: block;
	width: 100%;
}

#menu ul.sub-menus a {
	color: #FFFFFF;
	font-size: 16px;
}

#menu li:hover ul.sub-menus {
	display: block
}

#menu ul.sub-menus a:hover{
	background: #F2F2F2;
	color: #444444;
}

/* end of navigation menu settings block ----------------------------------------------------------------------------- */



/* responsive website settings. Contains style settings for differen devices --------------------------------------------*/
@media screen and (max-width: 800px){

	/* responsive menu */

	#menu {position:relative}
	#menu ul {background:#111;position:absolute;top:100%;right:0;left:0;z-index:3;height:auto;display:none}
	#menu ul.sub-menus {width:100%;position:static;}
	#menu ul.sub-menus a {padding-left:30px;}
	#menu li {display:block;float:none;width:auto;}
	#menu input, #menu label {position:absolute;top:0;left:0;display:block}
	#menu input {z-index:4}
	#menu input:checked + label {color:white}
	#menu input:checked + label:before {content:"\00d7"}
	#menu input:checked ~ ul {display:block}


	#future_events {
        
		width: 100%;
        float: none;
 		margin-top: 2em;
		margin-right: auto;
		margin-left: auto; 
       
	}

	/* responsive settings for 6 div blocks */
	div.promo_main_div div {
        width: 100%;
        float: none;
 		margin-top: 2em;
		margin-right: auto;
		margin-left: auto; 
		margin-bottom: 2em;
}

    div.promo_main_div_b div {
        width: 100%;
        float: none;
        margin-top: 2em;
        margin-right: auto;
        margin-left: auto; 
        margin-bottom: 2em;
        height: auto;
    }

    .promos {
        font-size: 1.1em;
    }
 
    .future_events_div {
        font-size: 0.7em;
    }
		 
	.promo_main_div {
        font-size: 0.7em;
    } 

    

	/* footer responsive block */
	footer{
        position: relative;
        bottom: 0px;
    }

    .left .content{
        padding-right:0px;
        padding-bottom: 30px;
    }

    .container{
        flex-wrap: wrap;
        flex-direction: column;
        padding:0.5rem;
    }

    .container .section{
        margin:5px 0;
    }

}

/* end of responsive website settings */
/* ----------------------------------------------------------------------------------------------- */



/* code under this line related to first main div block --------------------------------------------- */
/* First div block after menu.
   Margin settings */
div #christmas-image {
    margin: 1em;
      
}

/* main div block*/
#christmas-image{
    position:relative;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background:rgba(0,0,0,0.6);
 }
 
#test {
    position:absolute;

    z-index: 1;
    color: white;
    font-family: sans-serif;
}

/* main image settings */
#christmas-image img{
    position:relative;
    width: 100%;
    opacity: 0.5;
    height: 420px;
    object-fit: cover;

}

/* end of first main div block -----------------------------------------------*/


/* code under this line used to style "buy ticket online form" */

.buy-ticket-class {

    text-align: center;
    margin-bottom: 2%;
}

.buy-ticket-class label {
    margin-left: 2%;
}
 

.plus-minus-button   {
    background-color: Transparent; 
    width: 2em;
    height: 2em;
    border: rgba(0, 0, 0, 0.527) 1px solid;
    color: rgb(0, 0, 0);
    border-radius: 50%;
    transition-duration: 0.4s;
}

 #buy-ticket {
    
        background-color: Transparent; 
        width: 8em;
        height: 2.5em;
        border: rgb(0, 0, 0) 1px solid;
        color: rgb(0, 0, 0);
        border-radius: 6px;
        transition-duration: 0.4s;
   
 }

 #buy-ticket:hover {
    background-color: rgba(42, 211, 174, 0.521); 
   }


 #book-date {
     width: auto;
     height: 2.3em;
     border: black 1px solid;
     border-radius: 3%;
 }

 .select-people {
    width: 4%;
    height: 2em;
    border: black 1px solid;
    border-radius: 3%;

}


  #book-christmas-ticket {
    background-color: Transparent; 
    width: 8em;
    height: 2.5em;
    border: white 1px solid;
    color: #FFF;
    border-radius: 6px;
    transition-duration: 0.4s;
}

#book-christmas-ticket:hover {
    background-color: rgba(42, 211, 174, 0.521); 
   }

   /* end of booking form style settings */


/* future event css code------------------------------------------ */
#future_event_link {
    z-index: 1;
    color:#ffffff; 
    font-size: 1.6em;
    font-family: sans-serif;
    
}

.future_event p {
    font-size: 1.4em;
    font-family: sans-serif;
         
  }

.future_event {
     padding-top: 10%;
    position: relative;
    background-image: linear-gradient(to right, rgba(10, 9, 85, 0.466), rgba(255, 255, 255, 0.1) ), url("../pics/future_event.jpg");
    background-size: 100% 100%;
    width: 95%;
    color: #FFF;
    text-align: center;
    vertical-align: middle;
    border: 1px solid black;
    display:inline-block;
    height: 23em;
    margin: 2em auto auto 2em;
}
/* end of future events block */

/* end of future event css code ----------------------------------------- */


/*------------------------------------------------------------------------------ 
code under this line is for div with 6 small div blocks. 
Contains information such as locations of parking lots, events, hotels, restaurants, etc 
 */

 /* container div for 6 div blocks */
.promo_main_div {

	width: 100%;
	text-align: center;
	margin-bottom: 2em;
	/* margin-left: 10%;
	margin-right: 10%; */
	height:120%;

}

/* 6 div blocks for advertising */
.promos {
    width: calc(100% / 4);
   border: 1px solid black;
   vertical-align: middle;
   display:inline-block;
   align-items: center;
   height: 13em;
   margin: 2em auto auto 2em;
   color: #FFF;
   z-index: 1;
   
}

/* setting background image for each of 6 blocks */
.new_ride {
    background-image: linear-gradient(to right, rgba(10, 9, 85, 0.466), rgba(255, 255, 255, 0.1) ), 
    url(../pics/new_ride.jpg);
    
    }

.dining {
    background-image: linear-gradient(to right, rgba(10, 9, 85, 0.466), rgba(255, 255, 255, 0.1) ), 
    url(../pics/dining.jpg);

}

.shopping {
    background-image: linear-gradient(to right, rgba(10, 9, 85, 0.466), rgba(255, 255, 255, 0.1) ), 
    url(../pics/shopping.jpg);

}

.special_events {
    background-image: linear-gradient(to right, rgba(10, 9, 85, 0.466), rgba(255, 255, 255, 0.1) ), 
    url(../pics/events.jpg);

}

.annual_pass {
    background-image: linear-gradient(to right, rgba(10, 9, 85, 0.466), rgba(255, 255, 255, 0.1) ), 
    url(../pics/annual_pass.jpg);

}

.parking {
    background-image: linear-gradient(to right, rgba(10, 9, 85, 0.466), rgba(255, 255, 255, 0.1) ), 
    url(../pics/parking.jpg);

}

/* settings for button */
#promos_button {
    background-color: Transparent; 
    width: 8em;
    height: 2.5em;
    border: white 1px solid;
    color: #FFF;
    border-radius: 6px;
    transition-duration: 0.4s;

  }

  #promos_button:hover {
    background-color: rgba(42, 211, 174, 0.521); 

  }

 /* end of second div block with 6 small div blocks --------------------------------------------------------------------*/


/* --------------------------------------------------------------------
  Code under this line is for last two div block that contains
  informations about covid safety protocols and general information for visitors
*/

#promo_link {

	margin-top: 25%;
	margin-bottom: 25%;
}

button:hover {
  background-color: #4CAF50; 
  color: white;
}





.promo_main_div_B {

	width: 100%;
	text-align: center;
	margin-bottom: 2em;
	/* margin-left: 10%;
	margin-right: 10%; */
	height:120%;

}

.promos_b {
    background-repeat: no-repeat;
    background-size: 100% 100%;
   text-align: center;
   width: calc(100%/2.2);
   border: 1px solid black;
   vertical-align: middle;
   display:inline-block;
   height: 20em;
   margin: 2em auto auto 2em;
   color: white;
   /* font-size: 1.6em; */
    }   

.guide {
    background-image: linear-gradient(to right, rgba(10, 9, 85, 0.466), rgba(255, 255, 255, 0.1) ), 
    url("../pics/guide.jpg");

    }

.promos_b p {
    font-size: 1.1em;
    }

.cv19 {
    background-image: linear-gradient(to right, rgba(10, 9, 85, 0.466), rgba(255, 255, 255, 0.1) ),
        url("../pics/safety.jpg");

    }



/* end of general and covid info div block css settings*/




/* --------------------------------------------------------
footer settings under this line */
footer{
	padding:0; 
	margin:0;
    box-sizing: border-box;
    color: white;
    font-family: 'Open Sans', sans-serif;
    margin-top: 3em;
    bottom: 0;
    width: 100%;
    background-color: #053742;
}

.container{
    display: flex;
    padding: 1rem;
}

.container .section{
    flex-basis: 50%;
    padding: 0 20px;
}

.section h2{
    font-size: 1.125rem;
    font-weight: 600;
    text-transform: uppercase;
}

.section .content{
    margin:20px 0 0 0;
    position: relative;
}

.section .content::before{
    position: absolute;
    content: '';
    top: -10px;
    height: 2px;
    width: 100%;
}

.section .content::after{
    position: absolute;
    content: '';
    height: 2px;
    width: 15%;
    background-color: #dd5f24;
    top: -10px;
}

.left .content .social{
    margin: 20px 0 0 0;
}

.left .content .social a{
    padding: 0 2px;
}

.left .content .social a span{
    height: 40px;
    width: 40px;
    background: transparent;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    border-radius: 50px;
    transition: 0.4s;
    border:1px solid #656565;
}


.left .content .social a span:hover{
    background: #dd5f24;
}

.center .content .fas{
    font-size: 1.1rem;
    background: transparent;
    height: 45px;
    width: 45px;
    line-height: 45px;
    text-align: center;
    border-radius: 50px;
    transition: 0.3s;
    cursor: pointer;
    border:1px solid #656565;
}

.center .content .fas:hover{
    background: #dd5f24;
    border:1px solid #dd5f24;
}

.center .content .text{
    font-size: 1.0.6rem;
    font-weight: 500;
    padding-left: 10px;
}

.center .content .phone{
    margin: 15px 0;
}

.right form .text{
    font-size: 1.0625rem;
    margin-bottom: 2px;
    color: #656565;
}

.right form input{
    width: 100%;
    font-size: 1.0625rem;
    background: transparent;
    border: 1px solid #656565;
}

.right form input{
    height: 35px;
}

.right form .btn{
    margin-top: 10px;
}

.right form .btn button{
    height: 40px;
    width: 100%;
    border:none;
    outline: none;
    background: #dd5f24;
    font-size: 1.0625rem;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s;
}


.right form .btn button:hover{
    background: #000;
}

.footer-bottom center{
    padding: 5px;
    font-size: 0.9375rem;
 }

.footer-bottom center span{
    color: #656565;
}

.footer-bottom center a{
    text-decoration: none;
}

.footer-bottom center a:hover{
    text-decoration: underline;
}

/* end of footer css code --------------------------------------------------------------------------*/



/* ************************************PAGE2******************************************************************************* */


body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}



.p2 h1 {
    /* margin: 0; */
    /* font-size: 3em; */
    /* line-height: 1; */
    background-color: rgb(78, 119, 186);
	color: #FFF;
    text-align: center;
}

section h2 {
    margin-bottom: 5px;
    margin-top: 15px;
}

/* p {
    margin-top: 0;
    margin-bottom: 5px;
} */





/* THis contains just the map ---------------------------*/
#container-parkmap {
    position: relative;
    border-style: dashed;
}

/* The legend just below the map ---------------------------------*/
.legend {
    margin-bottom: 80px;

    background: rgba(0, 153, 204, 0.5);
    border-radius: 10px;
    border: 1px solid rgb(58, 27, 168);
    text-align:center;
    /* width:100%; */

}

.legend ol {
    columns: 30px 3;
}

.logo {
    position: absolute;
    top: 40px;
}

/* THis is a trick to crop a squared image into a rounded shaped one */
.img-crop-rounded {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}


/* Define grid areas ----------------------------------------------*/

#parking {
    grid-area: 1/1/2/5;
}

#atm {
    grid-area: 2/1/3/5;
}

#shop {
    grid-area: 3/1/4/5;
}

#first-aid {
    grid-area: 4/1/5/5;
}

/* laypoout for attractions ---------------------- */
#rollercoaster {
    justify-content: center;
    text-align: center;
    grid-area: 5/2 / 6/6;
}

.restaurants {
    grid-area: 6/1 / 7/7;
}

.hotels {
    grid-area: 7/1 / 8/7;
}

.hotels, .restaurants {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 50% 50%;
}

.show-attraction img {
    width: 600px;
}

.sub-attraction img {
    width: 300px;
}

/* Main grid------------------------ */


.map-content-wrapper  {
    display: grid;
    grid-template-columns: 16% 16% 16% 16% 16% 16%;
}


.map-content-wrapper section {
    background-color: rgb(219, 237, 240);
    padding: 23em;
    display: block;
    position: relative;
    padding: 10px;
    border-radius: 20px;
    margin-top: 1%;
    margin-bottom: 1%;
}


.map-content-wrapper section:target {
    background-color: rgb(21, 126, 117);
    color: rgb(250, 237, 166);
}


.back-to-map {
    display: block;
    font-style: italic;
    text-align: center;

}


.back-to-map:hover, .back-to-map:active {
    background-color: burlywood;
    font-weight: bold;
    text-decoration: none;
    color:steelblue;
}

.back-to-map:active {
    color:  rgb(250, 237, 166);
}


/* 
.hotels, .restaurants {
    display: inline;
    margin: 0 auto;
} */


/* section.show-attraction {
    display: flex;
    margin: 0 auto;
    justify-content: center;
}  */
