
/* * {
    margin: 0;
    padding: 0;
} */

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

div, section {
    margin-bottom: 50px;
    padding: 10px;
}


section.show-attraction {
    display: flex;
    margin: 0 auto;
    justify-content: center;
}



h1 {
    /* margin: 0; */
    font-size: 3em;
    font-family:cursive;
    /* line-height: 1; */
    color: blue;
    background-color: burlywood;
    text-align: center;
}

h2 {
    margin-bottom: 5px;
    margin-top: 15px;
}

p {
    margin-top: 0;
    margin-bottom: 5px;
}


/* THis contains just the map */
#container-parkmap {
    position: relative;
    border-style: dashed;
}

/* The legend just below the map */
.legend {
    margin-bottom: 100px;
}

.legend ol {
    columns: 30px 3;
}

.logo {
    position: absolute;
    top: 40px;
}

/* THis is a trick to crop a squared image into a rounded shaped one */
.img-crop-rounded {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}


.map-content-wrapper section:target {
    background-color: chartreuse;
}

/* section {
    display: block;
} */

.back-to-map {
    display: block;
    font-style: italic;
    text-align: center;
    color:steelblue;
}


.back-to-map:hover, .back-to-map:active {
    background-color: burlywood;
    font-weight: bold;
    text-decoration: none;
}



.hotels, .restaurants {
    display: flex;
    margin: 0 auto;
}

